:root {
  --bckgrnd: #000;
  --main-text: #fff;
  --secondary-text: #BCBCBC;
  --bckgrnd-card: #131129;
  --gradient-blue-color: #1F8EBE;
  --gradinet-pink-color: #AE61ED;
  --gradient-dark: linear-gradient(to right, #1F8EBE, #AE61ED);
  --gradient-bright: linear-gradient(135deg, #3AC4FF, #AE61ED);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bckgrnd);
  font-family: 'Montserrat';
  color: var(--main-text);
  display: flex;
  justify-content: center;
}

.section__header {
  font-size: 3rem;
  font-weight: 800;
}

.section__content {
  font-size: 1rem;
  font-weight: 400;
  color: var(--secondary-text);
  line-height: 1.75rem;
}